<% layout("/layouts/boilerplate") %>

<body>
  <h3>Add New Listing</h3>

  <div class="row">
    <div class="col-8 offset-2">

      <form method="POST" action="/listings" novalidate class="needs-validation">

        <div class="mb-3">
          <label class="form-label">Title</label>
          <input name="listing[title]" placeholder="enter title" type="text" 
          class="form-control" required />
        </div>

        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea name="listing[description]" 
          placeholder="enter description" 
          class="form-control" required></textarea>
          <div class="invalid-feedback">
            please enter the description
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Image URL</label>
          <input name="listing[image]" 
          placeholder="enter image URL/link" 
          type="text" 
          class="form-control"/>
        </div>

        <div class="mb-3">
          <label class="form-label">Price</label>
          <input name="listing[price]" 
          placeholder="1200" 
          type="number" 
          class="form-control" required/>
          <div class="invalid-feedback">
            please enter the price value
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Country</label>
          <input name="listing[country]" 
          placeholder="INDIA" 
          type="text" 
          class="form-control" required/>
          <div class="invalid-feedback">
            please enter the country name
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Location</label>
          <input name="listing[location]" 
          placeholder="ThanaBhawan UttarPradesh" 
          type="text" 
          class="form-control" required/>
          <div class="invalid-feedback">
            please enter the location name
          </div>
        </div>

        <button class="btn btn-dark">Add</button>

      </form>

    </div>
  </div>

</body>