body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container
{
    flex:1;
}
/* nvabar */


.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: red;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.c {
    color:red; 
}

/* footer */
/* footer */

.f-info {
    text-align: center;
    background-color: #f8f9fa;   /* light grey */
    display: flex;
    height: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.f-info-links,
.f-info-socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
    margin: 0 1rem;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials i {
    font-size: 1.5rem;
    margin: 0 1rem;
}


/* 
card */


.card
{
    border:none !important;
    margin-bottom:2rem;

}

.card-img-top
{
border-radius: 1rem !important;
width:100% !important;
object-fit: cover !important;

}

.card_body
{
    padding: 0 !important;
    
}

.card-text p{
    font-weight:400 !important;
}
.listing-link
{
    text-decoration: none;
}

 /* card effcr */

 .card-img-overlay{
    opacity: 0;
 }


  .card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
  }


  /* new lis */
  .btn{
    background-color: red;
    border: none !important;
  }

  /* edit page */

  .editbt{
        background-color: red;
    border: none !important;
  }

  /* show ejs */
  .btns{
    display:flex;
  }